.container {
    width: 100%;
    background-color: rgb(192, 134, 247);
}

.area {
    margin: auto;
    position: relative;
    width: 950px;
    height: 600px;
}

.area>i {
    position: absolute;
    text-align: center;
    width: 20px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    right: 2%;
    cursor: grabbing;
    border: 3px solid rgba(63, 55, 55, 0.5);
    border-radius: 50%;
}

.up {
 top: 45%;
 height: 15px;
 padding-bottom: 5px;
}

.down {
    top: 50%;
    padding-top: 2px;
    height: 18px;
}


@media(max-width: 480px) {
    .area {
        transform: scale(.4)
    }
}
