.block {
    position: absolute;
    width: 0; 
    height: 0;
    border-style: solid;
    border-color: transparent;
    transition: border 0.5s ease-in, color 0.2s ease,
    transform 0.7s ease-out;
}
