.shadow {
    position: absolute;
    top: 80%;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0,0,0,0) 50%);
    transition: width .3s ease, left .5s ease, opacity .2s ease;
    transition-delay: 1s;
}